// Fonts
.fancy-text {
  font-family: $font-family-fancy;
  color: $primary;
}
h5 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.27em;
  color: $dark-purple;
  margin-bottom: 80px;
}
