{% extends 'layout/base.html.twig' %} {% block pageTitle %}Accueil{% endblock %}
{% block main %}
<div class="banner">
  <div class="content">
    <header>
      <div class="inner">
        <a href="#" class="brand">
          <div>Soundwalker</div>
          <div>Electronic music space</div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="89.427"
            height="89.955"
            viewbox="0 0 89.427 89.955"
          >
            <path
              id="Union_1"
              data-name="Union 1"
              d="M-107.54,13.613a2.113,2.113,0,0,1,2.253-2.629h17.65a2.38,2.38,0,0,1,2.253,1.877,23.106,23.106,0,0,0,34.172,14.27,2.835,2.835,0,0,1,3,.376L-35.816,39.9a2.412,2.412,0,0,1-.376,3.38,43.829,43.829,0,0,1-26.795,9.16A44.956,44.956,0,0,1-107.54,13.613ZM-30.56,34.267-42.952,21.875a2.273,2.273,0,0,1-.375-3c7.886-13.143.375-30.416-14.27-34.172a2.379,2.379,0,0,1-1.877-2.253V-35.2a2.282,2.282,0,0,1,2.628-2.254C-22.674-32.576-6.9,7.23-27.18,34.267a2.066,2.066,0,0,1-1.678.991A2.15,2.15,0,0,1-30.56,34.267Z"
              transform="translate(107.613 37.516)"
              fill="#6d44ff"
            />
          </svg>
        </a>
        <img src="../img/background/bg-brand.svg" alt="" />

        <div class="login">
          <a href="#" class="btn">Sign in</a>
          <a href="#" class="btn btn-primary">Create account</a>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="content">
        <h1>Connect on soundwalker</h1>
        <p>
          Discover, stream, and share a constantly expanding mix of music from
          emerging and major electronic artists around the world
        </p>
        <a href="#" class="action btn">
          <div>Sign up</div>
          <div class="fancy-text">for free</div>
        </a>
      </div>
    </div>
    <div class="playlist">
      <div class="top-category">
        <div>
          <h4>Top electric sounds</h4>
        </div>
        <div class="artwork-card">
          <div class="inner">
            <div class="infos">
              <div class="artist">Ryanosaurus</div>
              <div class="title fancy-text">Tesseract Interface</div>
            </div>
            <div class="artwork">
              <img
                src="https://img.discogs.com/KC-5uAu32l0XXhNVeYgyuCM6sRI=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-13284538-1551370787-6753.jpeg.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="top-20">
        <div>
          <h4>Top 20 on Soundwalker</h4>
        </div>
        <div class="artwork-card">
          <div class="inner">
            <div class="infos">
              <div class="artist">Massive Attack</div>
              <div class="title fancy-text">Future Proof</div>
            </div>
            <div class="artwork">
              <img
                src="https://dreamingbetweenthelines.files.wordpress.com/2013/02/100th-window.jpg?w=788"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="part-trends">
  <div class="bg-image">
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 2472.619 901.785">
      <path
        fill="none"
        stroke="#efebff"
        stroke-dasharray="2 8"
        stroke-miterlimit="10"
        stroke-width="2"
        d="M3.851 428.144c116.063-91.195 308.262-227.913 531.484-264.679 209.036-34.43 351.157-23.951 691.6 102.213 313.554 116.2 574.848 463.726 802.786 231.325 133.53-136.151 344.492-76.318 442.53-115.124m-4.2-9.29c-96.978 37.91-304.41-19.949-437.276 113.261-228.979 229.572-489.261-107.356-798.013-213.874-335.472-115.057-485.177-124.177-690.837-90.535C316.144 217.558 120.277 344.999 3.77 431.999m2460.074-68.7c-95.909 37.01-299.835-18.879-432.011 111.4-230.045 226.743-489.29-99.589-793.239-196.422-330.506-103.953-487.674-111.019-690.079-78.86C320.308 235.674 120.639 353.052 3.688 435.859M2459.64 354.01c-94.847 36.113-295.284-17.82-426.749 109.534-231.14 223.911-489.06-92.665-788.468-178.972-325.256-93.759-490.238-98.239-689.318-67.18-230.7 35.993-434.1 143.711-551.5 222.324m2451.831-95c-93.782 35.215-290.753-16.769-421.488 107.673-232.255 221.076-489.035-85.181-783.697-161.518-320.233-82.963-492.809-85.487-688.559-55.5C328.488 271.09 121.364 369.155 3.526 443.573M2451.234 335.43c-92.72 34.318-286.243-15.729-416.228 105.809-233.4 218.233-489.03-77.7-778.92-144.07-315.235-72.17-495.385-72.757-687.801-43.824C332.572 288.787 121.727 377.206 3.444 447.432M2447.03 326.14c-91.655 33.419-281.751-14.7-410.966 103.946-234.571 215.387-489.043-70.221-774.147-126.619-310.25-61.368-497.966-60.05-687.042-32.147C336.651 306.476 122.089 385.258 3.363 451.289M2442.826 316.85c-90.59 32.522-277.28-13.685-405.7 102.082-235.775 212.534-489.084-62.733-769.38-109.167-305.295-50.574-500.549-47.366-686.281-20.466-240.738 34.858-459.014 104.01-578.184 165.848m2435.342-147.586c-89.527 31.624-272.831-12.679-400.444 100.219-237 209.672-489.138-55.243-764.6-91.717-300.361-39.77-503.138-34.7-685.521-8.79C344.799 341.828 122.814 401.36 3.2 459.004m2431.22-160.733c-88.464 30.726-268.4-11.687-395.183 98.356-238.258 206.8-489.22-47.743-759.829-74.266-295.457-28.962-505.732-22.055-684.764 2.887-245.777 34.241-471.467 84.164-591.526 137.614m2427.1-173.88c-87.4 29.828-263.991-10.708-389.922 96.492-239.545 203.917-489.325-40.231-755.056-56.813-290.577-18.134-508.329-9.433-684 14.564-248.3 33.918-477.694 74.239-598.2 123.5m2422.973-187.034c-86.336 28.931-259.6-9.741-384.66 94.63-240.864 201.019-489.455-32.705-750.284-39.364-285.726-7.294-510.93 3.172-683.244 26.242-250.832 33.583-483.923 64.316-604.874 109.378m-.081 3.857c121.39-40.868 358.176-62.023 611.541-95.259 168.95-22.163 401.584-34.356 682.485-37.92 255.9-3.247 503.3 220.02 745.51 21.912 124.166-101.557 294.127-64.733 379.4-92.767M2.793 478.293c121.834-36.675 362.312-48.264 618.212-81.141 165.583-21.273 405.626-35.152 681.726-49.6 250.955-13.131 497.146 199.64 740.737 4.461 123.253-98.758 289.929-63.768 374.138-90.9M2.712 482.15c122.277-32.481 366.444-34.518 624.883-67.023 162.212-20.4 409.644-35.92 680.966-61.275 245.987-22.988 490.962 179.243 735.964-12.99 122.32-95.974 285.733-62.8 368.877-89.04M2.63 486.007c122.722-28.287 370.574-20.786 631.555-52.9 158.839-19.549 413.644-36.658 680.207-72.953 241-32.816 484.745 158.822 731.192-30.441 121.367-93.214 281.534-61.841 363.615-87.18M2.551 489.865c123.164-24.093 374.7-7.066 638.224-38.786 155.462-18.71 417.627-37.36 679.447-84.631 236-42.611 478.495 138.379 726.419-47.892 120.4-90.457 277.337-60.873 358.354-85.314M2.467 493.723c123.609-19.9 378.82 6.632 644.9-24.668 152.085-17.889 421.6-38.023 678.688-96.309 231-52.37 472.21 117.911 721.646-65.343 119.4-87.723 273.139-59.906 353.092-83.449M2.386 497.581c124.053-15.707 382.939 20.318 651.565-10.55 148.7-17.086 425.563-38.646 677.93-107.987 225.982-62.092 465.891 97.413 716.871-82.794 118.394-85.009 268.943-58.942 347.832-81.588M2.305 501.438c124.5-11.512 387.055 33.98 658.24 3.569 145.319-16.3 429.529-39.227 677.169-119.664 220.97-71.775 459.543 76.884 712.1-100.246 117.365-82.313 264.747-57.975 342.572-79.724M2.224 505.299c124.94-7.32 391.167 47.625 664.911 17.686 141.932-15.522 433.5-39.764 676.409-131.342 215.962-81.419 453.156 56.322 707.326-117.7 116.317-79.636 260.55-57.01 337.312-77.861M2.142 509.153c125.385-3.124 395.278 61.251 671.583 31.807 138.545-14.764 437.487-40.26 675.651-143.02 210.967-91.026 446.735 35.721 702.553-135.148 115.25-76.979 256.351-56.044 332.048-76M2.061 513.011c125.829 1.07 399.384 74.85 678.254 45.924 135.155-14.019 441.492-40.715 674.892-154.7 205.989-100.6 440.28 15.08 697.78-152.6 114.167-74.343 252.154-55.079 326.787-74.134M1.979 516.868c126.272 5.264 403.486 88.431 684.926 60.043 131.763-13.29 445.522-41.134 674.131-166.377 201.033-110.134 433.79-5.606 693.008-170.05 113.068-71.729 247.958-54.114 321.527-72.27M1.898 520.726c126.716 9.456 407.585 101.975 691.6 74.161 128.369-12.572 449.582-41.518 673.373-178.054 196.1-119.643 427.263-26.34 688.233-187.5 111.954-69.137 243.76-53.149 316.266-70.409M1.817 524.584c127.16 13.65 411.682 115.5 698.268 88.279 124.974-11.869 453.678-41.873 672.614-189.732 191.2-129.128 420.7-47.125 683.46-204.951 110.822-66.567 239.563-52.184 311-68.544M1.736 528.442c127.6 17.844 415.775 128.984 704.94 102.4 121.575-11.182 457.809-42.209 671.853-201.413 186.336-138.594 414.108-67.967 678.687-222.4 109.678-64.02 235.365-51.219 305.744-66.682M1.651 532.299c128.051 22.037 419.87 142.436 711.613 116.516 118.187-10.501 461.987-42.516 671.095-213.087 181.5-148.046 407.48-88.869 673.916-239.854 108.518-61.5 231.168-50.252 300.482-64.818M1.572 536.157c128.493 26.232 423.956 155.852 718.279 130.633 114.785-9.835 466.193-42.822 670.335-224.765 176.7-157.486 400.816-109.835 669.142-257.3 107.349-59 226.97-49.287 295.22-62.955M1.491 540.015c128.936 30.425 428.04 169.227 724.954 144.751 111.386-9.181 470.444-43.117 669.576-236.442 171.937-166.923 394.118-130.873 664.369-274.756 106.167-56.523 222.773-48.321 289.96-61.091M1.41 543.872c129.38 34.619 432.121 182.557 731.625 158.871 107.986-8.542 474.735-43.411 668.817-248.12 167.2-176.36 387.389-151.986 659.6-292.208 104.975-54.074 218.576-47.356 284.7-59.228M1.329 547.729c129.823 38.814 436.2 195.839 738.3 172.989 104.587-7.911 479.06-43.705 668.057-259.8 162.5-185.8 380.629-173.179 654.823-309.657 103.773-51.653 214.378-46.391 279.438-57.366M1.251 551.586c130.267 43.007 440.277 209.065 744.968 187.108 101.187-7.293 483.421-44.008 667.3-271.476 157.83-195.246 373.837-194.458 650.05-327.109 102.566-49.257 210.181-45.426 274.176-55.5M1.165 555.444c130.712 47.2 444.352 222.229 751.639 201.226 97.789-6.685 487.813-44.32 666.539-283.154 153.183-204.7 367.018-215.831 645.278-344.56 101.35-46.888 205.984-44.457 268.915-53.639M1.084 559.299c131.155 51.4 448.424 235.329 758.31 215.344 94.389-6.088 492.232-44.643 665.78-294.832 148.561-214.168 360.172-237.3 640.5-362.011 100.133-44.547 201.785-43.494 263.654-51.776M1.003 563.16c131.6 55.588 452.492 248.353 764.982 229.462 90.991-5.5 496.676-44.979 665.019-306.509 143.961-223.648 353.3-258.874 635.732-379.462 98.912-42.232 197.589-42.529 258.393-49.912M.922 567.017c132.043 59.782 456.561 261.295 771.653 243.582 87.593-4.924 501.142-45.333 664.26-318.187 139.378-233.143 346.41-280.56 630.958-396.913 97.691-39.946 193.391-41.563 253.131-48.049M.84 570.874c132.487 63.976 460.628 274.144 778.324 257.7 84.2-4.359 505.628-45.7 663.5-329.865 134.811-242.65 339.5-302.36 626.185-414.365 96.471-37.689 189.2-40.6 247.871-46.185M.76 574.733c132.93 68.166 464.691 286.887 784.991 271.816 80.8-3.8 510.128-46.085 662.742-341.542 130.258-252.173 332.576-324.288 621.415-431.815 95.254-35.462 185-39.634 242.61-44.324M.677 578.59c133.374 72.364 468.762 299.509 791.667 285.935 77.41-3.254 514.643-46.488 661.983-353.221 125.715-261.712 325.634-346.344 616.64-449.266 94.043-33.261 180.8-38.668 237.348-42.461M.596 582.448c133.819 76.557 472.829 312.001 798.339 300.051 74.021-2.717 519.493-46.771 661.223-364.9 121.459-271.15 318.688-368.54 611.866-466.717 92.841-31.09 176.6-37.7 232.086-40.6M.515 586.305c134.262 80.752 476.9 324.337 805.01 314.172 70.634-2.188 523.7-47.341 660.464-376.576 116.656-280.833 311.741-390.879 607.093-484.169C2164.73 10.785 2245.487 2.999 2299.907.999"
      />
    </svg>
  </div>
  <div class="container">
    <h5>Hear what’s trending in the Soundwalker community</h5>
    <div class="trending-cards"></div>
  </div>
</div>
{% endblock %}
