img {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: $light-purple;
}

// div[class^="part-"],
// div[class*=" part-"] {
//   padding: 2rem 0;
// }

.part-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.part-trends {
  position: relative;
  overflow: hidden;

  .trending-cards {
    min-height: 664px;
  }
}

.glider-track {
  padding: 0 40px;
}
.section-heading {
  text-align: center;

  h2 {
    font-size: 104px;
    div {
      text-transform: uppercase;
      letter-spacing: 0.07em;
      font-style: italic;
      color: $dark-purple;
    }
  }
  span {
    font-size: 40px;
  }
}
.part-trends,
.part-bestof,
.part-podcast-library {
  overflow: hidden;
  margin-bottom: 200px;
  &:after {
    content: "";
    background: $overlay-gradient;
    background-position: center;
    background-size: contain;
    position: absolute;
    height: 75vh;
    width: 75vh;
    transform: translateY(-50%);
    pointer-events: none;
    top: 45%;
    right: 10%;
    opacity: 0.5;
    z-index: -1;
  }
  .bg-image {
    position: absolute;
    top: -30%;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.part-podcast-library {
  position: relative;
  .section-heading {
    padding-top: 60px;
    margin-bottom: 138px;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    .btn {
      font-size: 24px;
      font-style: normal;
      letter-spacing: 0.07em;
    }
  }
  &:after {
    content: "";
    position: absolute;
    height: 75vh;
    width: 75vh;
    transform: translateY(-50%);
    pointer-events: none;
  }
  &::after {
    height: 100vh;
    width: 100vh;
    top: 50%;
    right: -10%;
    opacity: 0.3;
  }
  &:before {
    content: "ELECTIC";
    color: $primary;
    position: absolute;
    text-transform: uppercase;
    font-size: 32vw;
    font-family: $headings-font-family;
    letter-spacing: 0.07em;
    line-height: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.15;
    pointer-events: none;
    z-index: -1;
  }
}

.part-bestof {
  position: relative;
  h5 {
    margin-bottom: 120px;
  }
  .bg-image {
    transform: scale(0.5) translate(-80%, -75%);
  }
  &:before {
    content: "SOUNDWALKER";
    color: $primary;
    position: absolute;
    text-transform: uppercase;
    font-size: 16vw;
    font-family: $headings-font-family;
    letter-spacing: 0.07em;
    line-height: 1;
    top: 0;
    left: 5rem;
    opacity: 0.15;
    pointer-events: none;
    z-index: -1;
  }
  > .bestof {
    display: flex;
    align-items: stretch;
  }
  .section-heading {
    padding: 0 80px 0 140px;
  }
}
