@font-face {
  font-family: "Morganite";
  src: url("/fonts/Morganite-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Morganite semibold";
  src: url("/fonts/Morganite-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Morganite Book";
  src: url("/fonts/Morganite-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Antro Vectra";
  src: url("/fonts/Antro_Vectra.otf") format("opentype");
}

@font-face {
  font-family: "Rflex";
  src: url("/fonts/R-FLEX-REGULAR.otf") format("opentype");
}

@import "abstracts/variables";
@import "abstracts/mixins";

// Vendors
@import "vendors/bootstrap";

// Fonts
// @import "../fonts/icons/portfolio-icons.css";

@import "abstracts/utility";

@import "base/buttons";
@import "base/typography";

@import "layout/layout";
@import "layout/header";
@import "layout/footer";

// Components
@import "components/banner.scss";
@import "components/podcast-card";
@import "components/trendin-card";
@import "components/album-cards.scss";

/* Only for debug propose */
//@import "debug";
